{% extends "base.html" %}
{% block content %}

    <h1><div id="content_wrapper">
              <br>
              <div id="content">
            	    <p style="text-align: center;">Дорогие школьники, студенты и учителя!</p>
                    <p style="text-align: justify;">Вы находитесь на странице начального уровня Интернет-школы информатики и дискретной математики.</p>
                    <p style="text-align: justify;">Этот уровень называется "КИО Школа", поскольку по характеру учебной деятельности близок к конкурсу КИО:&nbsp; <a title="Конкурс КИО" href="http://ipo.spb.ru/kio/">"Конструируй, исследуй, оптимизируй!"</a>, в котором вместо традиционных задач участники получают игры-лаборатории. Отличие же состоит в том, что в Конкурсе КИО участники имеют дело с исследовательскими проблемами, а в Школе КИО&nbsp; - знакомятся с известными алгоритмами, которые должны знать все, кто интересуется информатикой и планирует связать свою карьеру с изучением информационных технологий.</p>
                    <p style="text-align: justify;">Если вы преодолеете все трудности начального этапа, то впереди выпускников начального уровня КИО Школы ожидают ещё три курса, на которых в таком же стиле, то есть через работу с моделями понятий, виртуальными инструментами и эмуляторами алгоритмов, вы познакомитесь с теорией алгоритмов, информатикой (Computer Sience) основами программирования и особенностями профессионального программирования (Software Engineering) .</p>
                    <p style="text-align: center;">Желаем удачи!</p>
          </div>
          <br>
        </div></h1>
{% for post in posts %}
<div><p>{{post.author.nickname}} says: <b>{{post.body}}</b></p></div>

{% endfor %}
{% endblock %}