{% extends "base.html" %}
{% block content %}
<h1>Tasks from current KIO competition</h1>
<body>
    <div>Tasks List: </div>
    <div><a href="/start_task/11_1.swf">KIO 2011 1</a></div>
    <div><a href="/start_task/11_2.swf">KIO 2011 2</a></div>
    <div><a href="/start_task/12_0.swf">KIO 2012 0</a></div>
    <div><a href="/start_task/12_1.swf">KIO 2012 1</a></div>
    <div><a href="/start_task/12_2.swf">KIO 2012 2</a></div>
    <div><a href="/start_task/13_0.swf">KIO 2013 0</a></div>
    <div><a href="/start_task/13_1.swf">KIO 2013 1</a></div>
    <div><a href="/start_task/13_2.swf">KIO 2013 2</a></div>
    <div><a href="/start_task/14_0.swf">KIO 2014 0</a></div>
    <div><a href="/start_task/14_1.swf">KIO 2014 1</a></div>
    <div><a href="/start_task/14_2.swf">KIO 2014 2</a></div>
    <div><a href="/start_task/15_0.swf">KIO 2015 0</a></div>
    <div><a href="/start_task/15_1.swf">KIO 2015 1</a></div>
    <div><a href="/start_task/15_2.swf">KIO 2015 2</a></div>
    <div><a href="/start_task/16_0.swf">KIO 2016 0</a></div>
    <div><a href="/start_task/16_1.swf">KIO 2016 1</a></div>
    <div><a href="/start_task/16_2.swf">KIO 2016 2</a></div>

    <div><a href="#" onclick="fetch('/start_task/11_1.swf')">Запустить задачу 1</a></div>

</body>
{% endblock %}