{% extends "base.html" %}
{% block content %}
{#<h1>Standalone Ru Tasks</h1>#}
<body>
<div id="content_wrapper">
        <br>
            <div id="content">
                <div>Tasks List: </div>
                <p>
                <input type="button" value="KIO 2006 1" onclick="fetch('/start_2006_8_task/06/-1')"/>
                <input type="button" value="KIO 2006 2" onclick="fetch('/start_2006_8_task/06/-2')"/>
                </p>
                <p>
                <input type="button" value="KIO 2007 1" onclick="fetch('/start_2006_8_task/07/-1')"/>
                <input type="button" value="KIO 2007 2" onclick="fetch('/start_2006_8_task/07/-2')"/>
                </p>
                <p>
                <input type="button" value="KIO 2008 1" onclick="fetch('/start_2006_8_task/08/-1')"/>
                <input type="button" value="KIO 2008 2" onclick="fetch('/start_2006_8_task/08/-2')"/>
                </p>
                <p>
                <input type="button" value="KIO 2009 1" onclick="fetch('/start_2006_8_task/09/-1')"/>
                <input type="button" value="KIO 2009 2" onclick="fetch('/start_2006_8_task/09/-2')"/>
                </p>
                <p>
                <input type="button" value="KIO 2010 1" onclick="fetch('/start_2006_8_task/10/-1')"/>
                <input type="button" value="KIO 2010 2" onclick="fetch('/start_2006_8_task/10/-2')"/>
                </p>
                <p>
                <input type="button" value="Занимательные задачи" onclick="fetch('/start_2006_8_task/zadachi/-1')"/>
                </p>
                <p>
                <input type="button" onclick="history.back();" value="Back"/>
                </p>


            </div>
        <br>
    </div>


</body>
{% endblock %}